@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

h1 {
  font-family: "Mulish", sans-serif;
}

nav {
  font-family: "Mulish", sans-serif;
  width: auto;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;  
  opacity: 0.5;
}


nav ul {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: left;
  list-style: none;
  padding: 5;
  margin: 0;
  opacity: 0.5;
  
  text-transform: uppercase;
}

.series-container
{
  font-family: "Mulish", sans-serif;
  text-align: center; 
  font-size: 0.9rem;
  font-weight: 400;

}

.accordion-button:after {
  display: none;
 }

.accordion-header {
  justify-content: center;
  
}

img {
  max-width: 100%;
  max-height: 100%;

}


.accordion {
  margin: 30px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion__item {
  width: 100%;
  max-height: 25px;
  padding: 17px 10px;
  border-bottom: 1px solid #c9c9c9;
  color: black;
  overflow: hidden;
  cursor: pointer;
}

.accordion__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion__header h2 {
  font-family: "Mulish", sans-serif;
  transition: 0.2s ease-in-out;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: uppercase;
  
}

.accordion__header i {
  transition: 0.2s ease-in-out;
  transform-origin: center;
  margin-bottom: 10px;
}

.accordion__header:hover h4 {
  color: #10d6f5!important;
}

.accordion__header:hover i {
  color: #10d6f5;
}

.accordion__content {
  margin: 5px;
  font-size: 1rem;
}

@media (max-width:600px) {
  h1 {
      font-size: 30px;
  }
  .accordion__item {
      width: 80%;
  }
}