@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');



h1 {
  font-family: "Mulish", sans-serif;
}

nav {
  font-family: "Mulish", sans-serif;
  width: auto;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 0px;
  
}


.gallerygrid {
  margin: 20px;
}

nav ul {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: left;
  list-style: none;
  padding: 0;
  
  text-transform: uppercase;
}



img {
  max-width: 100%;
  max-height: 100%;

}