@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
  margin: 0;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 8vh;
    
}

.accueil-image {
  width: 75%;
  padding: 10vh;
  
}

.App {
  display: flex;
  flex-direction: row;

}

nav {
  font-family: "Mulish", sans-serif;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding: 5vw;
}

nav ul {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: left;
  list-style: none;
  padding: 0;
  gap: 4px;
  text-transform: uppercase;
}