@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 8vh;
    
}

.acceuil-container {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: right;
}

.accueil-image {
  display: flex;
  flex-direction: row;
  justify-content: right;
  height: 40vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
}

nav {
  font-family: "Noto Sans", sans-serif;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 10vw;
}

nav ul {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: left;
  list-style: none;
  padding: 0;
  gap: 4px;
  text-transform: uppercase;
}